/*** Color Palette ***/
/* 
    #F4F4F4 off-white 
    #FDD10C phred yellow 
    #F58225 phred orange
    #1A1C20 dark gray 
*/

html {
    background-color: #F4F4F4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: .5rem;
}

.button-primary {
    border-width: 1px;
    border-color: #1A1C20; 
    background-color: #FDD10C;
    color: #1A1C20;
    width: 130px;
    height: 30px;
    margin: .5rem 0;
    text-align: top;
    font-weight: 600;
}

.button-secondary {
    border-width: 1px;
    border-color: #1A1C20; 
    background-color: #faefcf;
    color: #1A1C20;
    color: #1A1C20;
    width: 130px;
    height: 30px;
    margin: .5rem 0;
    text-align: top;
    font-weight: 600;
}

.home {
    background-color: #F4F4F4;
    width: 100%;
}

.content {
    background-color: #F4F4F4;
    margin: auto;
    max-width: 1140px;
    padding: 0;
}

/*** Navbar ***/
.topnav {
    background-color: #FDD10C;
}

.navbar {
    margin: auto;
    max-width: 1140px;
}

.navbar-brand {
    color:#1A1C20;
    font-size: 4rem;
    font-weight: 700;
}

.navbar-brand img {
    padding-left: 1rem;
    padding-right: 1.5rem;
    width: 100px;
}

.navbar-nav {
    padding-right: 1rem;
}

.nav-item {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
}

.navbar-custom {
    background-color: #FDD10C;
    color: #1A1C20;
}

.navbar-custom .active {
    color: #F58225 !important;
}

.navbar-custom .a:hover {
    color: #F58225 !important;
}

/*** Heading Section ***/
.heading-content {
    background-image: url("../assets/images/background-short.jpg");
    opacity: 0.9;
    background-color: #1A1C20;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


.home .heading-content {
    background-image: url("../assets/images/backgorund-competition-2023.jpg");
    height: 730px;
}

.heading-section {
    color: #F4F4F4;
    margin: auto;
    max-width: 1140px;
    padding: 8rem 2rem 2rem 2rem;
    height: 730px;
}

.heading {
    font-weight: 600;
    padding: .5rem .5rem;
    text-shadow: 1px 1px #1A1C20;
}

.heading-float {
    color: #FDD10C;
    font-family: "Arial";
    font-size: 4rem;
    font-weight: 760;
    padding-left: calc(2px + (5vw));
    padding-top: 27rem;
    margin-right: 1rem;
    text-shadow: 1px 1px #1A1C20;
}

.heading-float-animated {
    color: white;
    font-family: "Arial";
    font-size: 4rem;
    font-weight: 760;
    text-shadow: 1px 1px #1A1C20;
    padding-left: 3rem;
    padding-top: 27rem;
    animation-name: heading-animation;
    animation-duration: 2s;
}

@keyframes heading-animation {
    from {color: #F58225; padding-top: 5rem; }
    to   {color: white; padding-top: 27rem; }
}

.heading-title {
    color: #FDD10C;
    font-family: "Arial";
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0 0 .5rem;
    text-shadow: 1px 1px #1A1C20;
}

.highlight-letter {
    color: #FDD10C;
}

.highlight-word {
    color: #F58225;
}

.emphasize-word {
    font-style: italic;
}

/*** Body ***/
.body-content {
    background-color: #F4F4F4;
}

.body-content-dark {
    background-color: #1A1C20;
    opacity: 0.9;
}

/*** Sections ***/
.content section {
    padding: 4rem 4rem;
    font-size: 1.1rem;
}

.bright-section {
    background-color:#1A1C20;
    color: #FDD10C
}

.lightest-section {
    color: #1A1C20;
    background-color: #F4F4F4;
}

.phred-acronym {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.img-phredbot {
    margin-top: 2rem;
}

.light-section {
    color:#1A1C20;
    background-color: #faefcf;
}

.dark-section {
    background-color:#1A1C20;
    color: #faefcf;
}

.centered-section {
    justify-content: center;
    text-align:justify
}

.section-title {
    padding-bottom: 1rem;
}

.section-paragraph {
    padding-bottom: 1rem;
}

.footer-section {
    background-color: #1A1C20;
    color: #F4F4F4;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.social-media-icon {
    padding: 1rem;
}

.spaced-content {
    padding-bottom: 2rem;
}

.join-phred {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.mentor-bio {
    width: 300px;
}

.mentor-photo {
    justify-content: center;
    text-align: center;
}

.mentor-photo img {
    border-radius: 5%;
}

.sponsor-marquee {
    height: 40px;
    background-color: #1A1C20;
    color: #F58225;
    font-weight: 500;
    font-size: 1.5rem;
}

.sponsor-marquee-item {
    padding-left: 2rem;
}

/** Medium screen **/
@media (max-width: 1145px) {

    .heading-float {
        padding-top: 27rem;
        padding-left: calc(5px + (5vw));
        font-size: 5.5vw;
    }

    .heading-float-animated {
        padding-top: 27rem;
        padding-left: calc(20px + (1vw));
        font-size: 5.5vw;
    }
    
    @keyframes heading-animation {
        from {color: #F58225; padding-top: 5rem; }
        to   {color: white; padding-top: 0; }
    }
}

/*** Mobile ***/
@media (max-width: 1030px) {
    .remaining-word {
        display: none;
    }
}

/** Small screen **/
@media (max-width: 768px) {

    .lightest-section {
        text-align: center;
    }

    .heading-float {
        padding-top: 22rem;
        padding-left: 2.5rem;
        font-size: 5.5vw;
    }

    .heading-float-animated {
        padding-top: 0rem;
        padding-left: 2.5rem;
        font-size: 5.5vw;
    }
    
    @keyframes heading-animation {
        from {color: #F58225; padding-top: 5rem; }
        to   {color: white; padding-top: 0; }
    }
}

/*** Mobile ***/
@media (max-width: 575px) {

    marquee {
        display: none;
    }

    .heading-float {
        padding-top: 22rem;
        padding-left: 0;
        font-size: 3rem;
    }

    .heading-float-animated {
        padding-top: 0;
        padding-left: 0;        
        font-size: 3rem;
    }
    
    @keyframes heading-animation {
        from {color: #F58225; padding-top: 5rem; }
        to   {color: white; padding-top: 0; }
    }

    .img-students {
        width: 100%;
    }
}
